header{
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

header nav {
  display: block;
}

nav span {
  display: inline-block;
  padding:10px;
}

a {
  color: black;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;

}

.logo span{
  color:MediumAquamarine;
  padding-left: 10px;

}

div {
  border: 1px solid black;
}

.content {
  display: flex;
  border: 1px solid black;
  justify-content: flex-start;
  flex-direction: row;
}

.column-large {
  display: flex;
  width: 630px;
  border: 1px solid black;
  justify-content: center;
  flex-direction: column;
}

.column-medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
  justify-content: center;

}

.column-small {
  display: flex;
  width: 240px;
  border: 1px solid black;
  justify-content: flex-end;
}

.stories{
  border: 1px solid black;
}

.mini-stories{
  border: 1px solid black;
}

.narrative {
 color: red;
}
