header{
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

header nav {
  display: block;
}

nav span {
  display: inline-block;
  padding:10px;
}

a {
  color: black;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;

}

.logo span{
  color:MediumAquamarine;
  padding-left: 10px;

}
